doctype html
html(lang="en")
  head
    style(type='text/css').
      a {
        text-decoration: none;
      }
      b {
        font-size: 1.1em;
      }
body
    ul
      each cinemas, movie in movies
        li
          b #{movie}&nbsp;
          small
            span (
            each cinema, index in cinemas
              if cinema.link
                a(href=cinema.link)= cinema.name
              else
                span= cinema.name
              span= index !== cinemas.length - 1 ? ', ' : ''
            span )
